header{
    background: url(https://cdn.wallpapersafari.com/92/42/5YZBaX.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.tabs .indicator{
    background-color: #1a237e;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active{
    background: transparent;
}